<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chale</title>
    <link rel="stylesheet" href="{% static 'app_chale_cad/css/style.css' %}">
    <!-- <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Dennis+Sans:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"> -->
</head>

<body>
    <nav class="navbar">
        <div class="logo">Meu Site</div>
        <ul class="menu">
            <li><a href="#">Início</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
    <div>
        <img src="{% static 'app_chale_cad/img/Chale.jpeg' %}" alt="Chale" width="100%">
    </div>

    <div>
        <h2>Localização</h2>
        <p>Nosso chalé está estrategicamente localizado em uma região de beleza natural incomparável, cercado por
            montanhas, riachos cristalinos e uma vegetação exuberante. É o local ideal para desconectar da rotina e
            relaxar.</p>

        <h2>Estrutura e Comodidades</h2>
        <p>O chalé conta com uma arquitetura rústica e acolhedora, com interiores cuidadosamente decorados para
            proporcionar uma experiência aconchegante. Entre as principais comodidades, destacamos:</p>
        <ul>
            <li>Sala de estar espaçosa com lareira;</li>
            <li>Quartos confortáveis com roupas de cama de alta qualidade;</li>
            <li>Cozinha equipada com eletrodomésticos modernos;</li>
            <li>Banheiro com água aquecida;</li>
            <li>Varanda panorâmica com vista para a natureza;</li>
            <li>Espaço gourmet com churrasqueira;</li>
            <li>Wi-Fi e televisão via satélite;</li>
            <li>Estacionamento privativo.</li>
        </ul>

        <h2>Atividades e Lazer</h2>
        <p>Durante sua estadia, você poderá desfrutar de diversas atividades ao ar livre, como trilhas ecológicas,
            banhos de cachoeira, passeios a cavalo e observação de aves. Além disso, o chalé está próximo a pontos
            turísticos da região, permitindo que você explore ainda mais as belezas naturais ao redor.</p>

        <h2>Hospedagem e Reservas</h2>
        <p>Nosso chalé está disponível para hospedagem durante todo o ano. Entre em contato conosco para verificar
            disponibilidade, tarifas e promoções especiais.</p>

        <p>Venha viver momentos inesquecíveis no Chalé dos Sonhos. Esperamos por você!</p>
    </div>
    </div>
</body>

</html>